#include "../shared.dtsi"

&pro_micro_i2c {
    status = "okay";
};

&i2c0 {
    glidepoint: glidepoint@0 {
        compatible = "cirque,pinnacle";
        status = "okay";
        reg = <0>;

        sensitivity = "4x";
        sleep;
    };
};

&glidepoint_split {
    device = <&glidepoint>;
};