#include "../shared.dtsi"

&pro_micro_i2c {
    status = "okay";
};

glidepoint_i2c: &i2c0 {
    compatible = "cirque,pinnacle";
    reg = <0>;
    #address-cells = <0>;
    #size-cells = <0>;
    status = "okay";

    sensitivity = "4x";
    sleep;
    no-taps;
};

&glidepoint_split {
    device = <&glidepoint_i2c>;
};