glidepoint_i2c: &i2c0 {
    status = "okay";

    glidepoint: glidepoint@0 {
      compatible = "cirque,pinnacle";
      reg = <0>
      status = "okay"
      dr-gpios = <&pro_micro 1 (GPIO_ACTIVE_HIGH)>;
      sensitivity = "4x";
      sleep;
    }
};
